*{
    font-family: 'Open Sans', sans-serif;

}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.bg-header{
    color: white;
    background-color: rgb(44, 62, 80);
}
.bg-hero{
    color: white;
    background-color: rgb(26, 188, 156);
}
.bg-about{
    background-color: rgb(26, 188, 156);
    color: white;
}
button {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}



