*{
    font-family: 'Open Sans', sans-serif;

}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.text-decoretion {
    text-decoration: none;
    
}
.bg-header{
    color: white;
    background-color: rgb(44, 62, 80);
}
.bg-hero{
    color: white;
    background-color: rgb(26, 188, 156);
}
.bg-about{
    background-color: rgb(26, 188, 156);
    color: white;
}
button {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
.star-icon{
    display: flex;
    max-width: 200px;
    align-items: center;
    width: 100%;
    column-gap: 15px;
}


footer{
    background-color: rgb(58, 84, 109);
    color: white;
}
.copyright{
    color: white;
    background-color:rgb(44, 62, 80) ;
}
